<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Home</title>

    <style>
      .dashboard-container {
        max-width: 400px;
        margin: 2rem auto;
        padding: 2rem;
        border: 1px solid #ccc;
        border-radius: 8px;
      }
      .form-group {
        margin-bottom: 1rem;
      }
      label {
        display: block;
        margin-bottom: 0.5rem;
      }
      input {
        width: 100%;
        padding: 0.5rem;
        margin-bottom: 1rem;
      }
      button {
        padding: 0.5rem 1rem;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      .toggle-form {
        margin-top: 1rem;
        text-align: center;
      }
      a {
        text-decoration: none;
        color: white;
      }
      .quattrocento-regular {
        font-family: "Quattrocento", serif;
        font-weight: 400;
        font-style: normal;
      }

      .quattrocento-bold {
        font-family: "Quattrocento", serif;
        font-weight: 700;
        font-style: normal;
      }
    </style>
  </head>
  <body>
    <div class="dashboard-container">
      <h1 class="quattrocento-bold">FILE UPLOADER</h1>
      <p class="quattrocento-regular">Welcome to the File Uploader.</p>
      <button
        class="quattrocento-regular"
        type="button"
        onclick="location.href='/auth'"
      >
        LOG IN
      </button>
    </div>
  </body>
</html>
